<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/style.css">
    <title>¡Muchas gracias!</title>
</head>
<body>
    <div class="th">
        <h1>Nico Bonder Web Developer</h1>
        <p class="thanks">Gracias por contactarme. <br>
            Responderé tu correo tan rápido como pueda. <br>
            Saludos.</p> 

        <a href="https://nicobonder.github.io/portfolio/views/spanish.html"><h3>Volver al portfolio</h3></a>
    </div>
</body>
</html>
