<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/style.css">
    <title>Thanks!</title>
</head>
<body>
    <div class="th">
        <h1>Nico Bonder Web Developer</h1>
        <p class="thanks">Thanks for contact me. <br>
            I will answer your email as soon as possible. <br>
            Regards.</p> 
        
            <a href="https://nicobonder.github.io/portfolio/"><h3>Back to portfolio</h3></a>
    </div>
</body>
</html>
