/*MENOS DE 640*/
@media (max-width: 640px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html{
        color: black;
        background-color: black;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
    }

    #particles-js  {
        height: 100vh; 
        width: 100%;
        position: fixed; /*esto hace q quede fijo en pantalla y se vea de fondo*/
        z-index: -999;
    }

    a{
        text-decoration: none;
    }

    p{
        color: white;
    }

    .container{
        margin: 0 0rem 2rem 0rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        z-index: 1;
    }

    .presentacion{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 75vh;
        margin-bottom: 1rem;
    }

    .left{ 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;   
    }

    .right{
        background-color: #F5AF31;
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        height: 40vh;
    }

    .presentacion img{
        height: 40vh;
        width: auto;
        position: absolute;
        z-index: 110;
        transform: translateX(-35%);
    }

    .hello{
        margin-left: 0rem;
        font-size: 0.5rem;
        margin-top: 0.5rem;
    }

    .developer{
        font-size: 0.6rem;
        margin: 0 0 1rem 0rem;
    }

    h1{
        color: #F5AF31;
        margin-left: 0rem;
        font-size: 0.8rem;
    }

    .left h3{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 4.5rem;
        font-size: 0.5rem;
    }

    .left a{
        width: 4.5rem;
        margin-left: 0rem;
        align-self: center;
    }

    .fab{
        color: #4BC858;
    
    }

    .spanish{
        color: white;
        border: 1px solid white;
        border-radius: 0.0125rem;
        width: 3rem;
        height: 1.3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 0 0 3rem 4rem;
        -webkit-box-shadow: 9px 10px 1px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 10px 1px -1px rgba(0,0,0,0.75);
        box-shadow: 9px 10px 1px -1px rgba(0,0,0,0.75);
    }

    .spanish p{
        font-size: 0.3rem;
    }

    .spanish h3{
        font-size: 0.4rem;   
    }

    .spanish a{
        color: white;
    }


    .about h2{
        color: #F5AF31;
        font-size: 0.8rem;
        z-index: 5;
    }

    .about{
        width: 100%;
        margin: 0.5rem 0 1rem 0rem;
        display: flex;
        flex-direction: column;
    }

    .about p{
        margin: 0 0 1rem 0;
        font-size: 0.4rem;
    }

    .left2{
        width: 100%;
        justify-content: left;   
        z-index: 100;
    }

    .left2 p{
        margin: 0.5rem; 
        text-align: justify;
    }

    .right2{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        margin-left: 0rem;
        margin-top: 1rem;
    }

    .info{
        display: flex;
        text-align: left;
        justify-content: right;
        margin-top: 0.5rem;
        margin-left: 0rem;
        z-index: 1;
    }

    .info p{
        margin-bottom: 0.5rem;
    }

    .column2{
        margin-left: 0.5rem;
    }

    .cvEsp{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5.5rem;
        font-size: 0.4rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }

    .cvEn{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5rem;
        font-size: 0.4rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }

    .right2 a{
        color: white;
        text-decoration: none;
    }

    .shape{
        position: absolute;
        z-index: -110;
        transform: translate(-160%, -80%);
    }

    .shape img{
        width: 4rem;
        height: auto;
        z-index: -300;
        transform: translate(75%, -10%);
    }

    .projectSection{
        width: 100%;
        margin: 1rem 0;
    }

    .projectSection h2{
        color: #F5AF31;
        font-size: 0.8rem;  
        margin: 0 0 1rem 0;  
    }

    .project{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .projectSection h3{
        color: white;
        font-size: 0.6rem;
        background-color: #F5AF31;
        margin-top: 2rem;
        border-radius: 0.25rem;
    }

    .project img{
        height: 5rem;
        width: 5rem;    
    }

    .content{
        width: 5rem;
        background-image: url(../sentado.png);
        background-size: 100%;
        height: 5rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
        margin-bottom: 1rem;
    }

    .alto{
        width: 5rem;
        background-image: url(../logo.png);
        background-size: 100%;
        height: 5rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
    }

    .contactSection{
        display: flex;
        flex-direction: column;
    }

    .contactSection h2{
        color: #F5AF31;
        font-size: 0.8rem;  
        margin: 1rem 0 0.7rem 0;  
    }

    .data{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #name{
        border: 0.05rem solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 7.5rem;
        font-size: 0.5rem;
        text-align: left;
        margin: 0;
    }

    #name::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #email{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 7.5rem;
        font-size: 0.5rem;
        text-align: left;
        margin: 0.5rem 0 0.8rem 0rem;
    }

    #email::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #text{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.5rem;
        width: 7.5rem;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    #text::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #send{
        border: 0.05rem solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.6rem;
        width: 3.3rem;
        height: 1.1rem;
        text-align: center;
        margin-bottom: 0rem;
    }

    #send:hover{
        cursor: pointer;
    }

    #contact{
        animation-duration: 3s;
        animation-name: contact;
        animation-iteration-count: infinite;
    }

    .th h1{
        font-size: 1rem;
        margin: 1rem 0 0 0;
    }

    .thanks{
        font-size: 0.6rem;
        margin: 1rem 0 0 0;
    }

    @keyframes contact {
        0%, 31%, 45%, 57%, 65%, 70%, 100%  { 
            opacity: 1;
        }

        42%, 44%, 56%, 58%, 60%, 67%, 80%  { 
            opacity: 0; 
            
        }
    }
}


/*DE 640 A 768*/
@media (min-width: 640px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html{
        color: black;
        background-color: black;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
    }

    #particles-js  {
        height: 100vh; 
        width: 100%;
        position: fixed; /*esto hace q quede fijo en pantalla y se vea de fondo*/
        z-index: -999;
    }

    a{
        text-decoration: none;
    }

    p{
        color: white;
    }

    .container{
        margin: 0 1rem 2rem 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        z-index: 1;
    }

    .presentacion{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50vh;
        margin-bottom: 1rem;
    }

    .left{ 
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;   
    }

    .right{
        background-color: #F5AF31;
        width: 40%; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        height: 50vh;
    }

    .presentacion img{
        height: 50vh;
        width: auto;
        position: absolute;
        z-index: 110;
        transform: translateX(-80%);
    }

    .hello{
        margin-left: 0rem;
        font-size: 0.5rem;
        margin-top: 0.5rem;
    }

    .developer{
        font-size: 0.6rem;
        margin: 0 0 1rem 0rem;
    }

    h1{
        color: #F5AF31;
        margin-left: 0rem;
        font-size: 0.8rem;
    }

    .left h3{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 4.5rem;
        font-size: 0.5rem;
        text-align: center;
        
    }

    .left a{
        width: 4.5rem;
        margin-left: 0rem;
        align-self:unset;
    }

    .fab{
        color: #4BC858;
    
    }

    .spanish{
        color: white;
        border: 1px solid white;
        border-radius: 0.0125rem;
        width: 3rem;
        height: 1.3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 0 0 2rem 1.5rem;
        -webkit-box-shadow: 9px 10px 1px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 10px 1px -1px rgba(0,0,0,0.75);
        box-shadow: 9px 10px 1px -1px rgba(0,0,0,0.75);
    }

    .spanish p{
        font-size: 0.3rem;
    }

    .spanish h3{
        font-size: 0.4rem;   
    }

    .spanish a{
        color: white;
    }


    .about h2{
        color: #F5AF31;
        font-size: 0.8rem;
        z-index: 5;
    }

    .about{
        width: 100%;
        margin: 0.5rem 0 1rem 0rem;
        display: flex;
        flex-direction: column;
    }

    .about p{
        margin: 0 0 1rem 0;
        font-size: 0.5rem;
    }

    .left2{
        width: 100%;
        justify-content: left;   
        z-index: 100;
    }

    .left2 p{
        margin: 0.5rem; 
        text-align: justify;
    }

    .right2{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        margin-left: 0rem;
    }

    .info{
        display: flex;
        text-align: left;
        justify-content: right;
        margin-top: 0.5rem;
        margin-left: 1rem;
        z-index: 1;
    }

    .info p{
        margin-bottom: 0.5rem;
    }

    .column2{
        margin-left: 0.5rem;
    }

    .cvEsp{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5.5rem;
        font-size: 0.5rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }

    .cvEn{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5rem;
        font-size: 0.5rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }

    .right2 a{
        color: white;
        text-decoration: none;
    }

    .shape{
        position: absolute;
        z-index: -110;
        transform: translate(-230%, -90%);
    }

    .shape img{
        width: 4.5rem;
        height: auto;
        z-index: -300;
        transform: translate(85%, 10%);
    }

    .projectSection{
        width: 100%;
        margin: 1rem 0;
    }

    .projectSection h2{
        color: #F5AF31;
        font-size: 0.8rem;  
        margin: 0 0 1rem 0;  
    }

    .project{
        display: flex;
        justify-content: space-evenly;
    }

    .projectSection h3{
        color: white;
        font-size: 0.6rem;
        background-color: #F5AF31;
        margin-top: 2rem;
        border-radius: 0.25rem;
    }

    .project img{
        height: 5rem;
        width: 5rem;    
    }

    .content{
        width: 5rem;
        background-image: url(../sentado.png);
        background-size: 100%;
        height: 5rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
    }

    .alto{
        width: 5rem;
        background-image: url(../logo.png);
        background-size: 100%;
        height: 5rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
    }

    .contactSection{
        display: flex;
        flex-direction: column;
    }

    .contactSection h2{
        color: #F5AF31;
        font-size: 0.8rem;  
        margin: 1rem 0 0.7rem 0;  
    }

    .data{
        display: flex;
        flex-direction: row;
    }

    #name{
        border: 0.05rem solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 6rem;
        font-size: 0.5rem;
        text-align: left;
        margin: 0 0.3rem 0.5rem 0;
    }

    #name::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #email{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 6rem;
        font-size: 0.5rem;
        text-align: left;
        margin: 0 0 0.5rem 0.3rem;
    }

    #email::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #text{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.5rem;
        width: 12.7rem;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    #text::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #send{
        border: 0.05rem solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.6rem;
        width: 3.3rem;
        height: 1.1rem;
        text-align: center;
        margin-bottom: 0rem;
    }

    #send:hover{
        cursor: pointer;
    }

    #contact{
        animation-duration: 3s;
        animation-name: contact;
        animation-iteration-count: infinite;
    }

    .th h1{
        font-size: 1rem;
        margin: 1rem 0 0 0;
    }

    .thanks{
        font-size: 0.6rem;
        margin: 1rem 0 0 0;
    }

    @keyframes contact {
        0%, 31%, 45%, 57%, 65%, 70%, 100%  { 
            opacity: 1;
        }

        42%, 44%, 56%, 58%, 60%, 67%, 80%  { 
            opacity: 0; 
            
        }
    }
}


/*DE 768 A 840*/
@media (min-width: 768px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html{
        color: black;
        background-color: black;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
    }

    #particles-js  {
        height: 100vh; 
        width: 100%;
        position: fixed; /*esto hace q quede fijo en pantalla y se vea de fondo*/
        z-index: -999;
    }

    a{
        text-decoration: none;
    }

    p{
        color: white;
    }

    .container{
        margin: 0 1rem 2rem 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        z-index: 1;
    }

    .presentacion{
        display: flex;
        width: 100%;
        height: 40vh;
        margin-bottom: 1rem;
    }

    .left{ 
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;   
    }

    .right{
        background-color: #F5AF31;
        width: 40%; 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }

    .presentacion img{
        height: 40vh;
        width: auto;
        position: absolute;
        z-index: 110;
        transform: translateX(-43%);
    }


    .hello{
        margin-left: 0rem;
        font-size: 0.6rem;
        margin-top: 0rem;
    }

    .developer{
        font-size: 0.7rem;
        margin: 0 0 2.5rem 0rem;
    }

    h1{
        color: #F5AF31;
        margin-left: 0rem;
        font-size: 0.9rem;
    }

    .left h3{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 4.5rem;
        font-size: 0.6rem;
        text-align: center;
        
    }

    .left a{
        width: 4.5rem;
        margin-left: 0rem;
    }

    .fab{
        color: #4BC858;
    
    }

    .spanish{
        color: white;
        border: 1px solid white;
        border-radius: 0.0125rem;
        width: 4rem;
        height: 1.3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 0 0 5.5rem 1.5rem;
        -webkit-box-shadow: 10px 11px 1.5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 1.5px -1px rgba(0,0,0,0.75);
        box-shadow: 10px 11px 1.5px -1px rgba(0,0,0,0.75);
    }

    .spanish p{
        font-size: 0.4rem;
    }

    .spanish h3{
        font-size: 0.5rem;
        
    }

    .spanish a{
        color: white;
    }


    .about h2{
        color: #F5AF31;
        font-size: 1rem;
        z-index: 5;
    }

    .about{
        width: 100%;
        margin: 1rem 0 1rem 0rem;
        display: flex;
        flex-direction: column;
    }

    .about p{
        margin: 0 0 1rem 0;
        font-size: 0.5rem;
    }

    .left2{
        width: 100%;
        justify-content: left;   
        z-index: 100;
    }

    .left2 p{
        margin-top: 0.5rem; 
        text-align: justify;
    }

    .right2{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        margin-left: 0rem;
    }

    .info{
        display: flex;
        text-align: left;
        justify-content: right;
        margin-top: 0.5rem;
        margin-left: 1rem;
        z-index: 1;
    }

    .info p{
        margin-bottom: 0.5rem;
    }

    .column2{
        margin-left: 0.5rem;
    }

    .cvEsp{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5.5rem;
        font-size: 0.5rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }

    .cvEn{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5rem;
        font-size: 0.5rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }

    .right2 a{
        color: white;
        text-decoration: none;
    }

    .shape{
        position: absolute;
        z-index: -110;
        transform: translate(-190%, -80%);
    }

    .shape img{
        width: 6rem;
        height: auto;
        z-index: -300;
        transform: translate(85%, 10%);
    }

    .projectSection{
        width: 100%;
        margin: 1rem;
    }

    .projectSection h2{
        color: #F5AF31;
        font-size: 1rem;  
        margin: 0 0 1rem 0;  
    }

    .project{
        display: flex;
        justify-content: space-evenly;
    }

    .projectSection h3{
        color: white;
        font-size: 0.7rem;
        background-color: #F5AF31;
        margin-top: 2.5rem;
        border-radius: 0.25rem;
    }

    .project img{
        height: 6rem;
        width: 6rem;    
    }

    .content{
        width: 6rem;
        background-image: url(../sentado.png);
        background-size: 100%;
        height: 6rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
    }

    .alto{
        width: 6rem;
        background-image: url(../logo.png);
        background-size: 100%;
        height: 6rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
    }

    .contactSection{
        display: flex;
        flex-direction: column;
    }

    .contactSection h2{
        color: #F5AF31;
        font-size: 1rem;  
        margin: 1rem 0 0.7rem 0;  
    }

    #name{
        border: 0.05rem solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 7rem;
        font-size: 0.6rem;
        text-align: left;
        margin: 0 0rem 0.5rem 0;
    }

    #name::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #email{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 7rem;
        font-size: 0.6rem;
        text-align: left;
        margin: 0 0 0.5rem 0.5rem;
    }

    #email::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #text{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.6rem;
        width: 14.7rem;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    #text::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #send{
        border: 0.05rem solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.6rem;
        width: 3.8rem;
        height: 1.1rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    #send:hover{
        cursor: pointer;
    }

    #contact{
        animation-duration: 3s;
        animation-name: contact;
        animation-iteration-count: infinite;
    }

    .th h1{
        font-size: 1rem;
        margin: 1rem 0 0 0;
    }

    .thanks{
        font-size: 0.6rem;
        margin: 1rem 0 0 0;
    }

    @keyframes contact {
        0%, 31%, 45%, 57%, 65%, 70%, 100%  { 
            opacity: 1;
        }

        42%, 44%, 56%, 58%, 60%, 67%, 80%  { 
            opacity: 0; 
            
        }
    }
}


/*DE 840 A 1024*/
@media (min-width: 840px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html{
        color: black;
        background-color: black;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
    }

    #particles-js  {
        height: 100vh; 
        width: 100%;
        position: fixed; /*esto hace q quede fijo en pantalla y se vea de fondo*/
        z-index: -999;
    }

    a{
        text-decoration: none;
    }

    p{
        color: white;
    }

    .container{
        margin: 0 1.5rem 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        z-index: 1;
    }

    .presentacion{
        display: flex;
        width: 100%;
        height: 40vh;
        margin-bottom: 1rem;
    }

    .left{ 
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;  
         
    }

    .right{
        background-color: #F5AF31;
        width: 40%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .presentacion img{
        height: 40vh;
        width: auto;
        position: absolute;
        z-index: 110;
        transform: translateX(-73%);
    }


    .hello{
        margin-left: 0rem;
        font-size: 0.6rem;
        margin-top: 0.5rem;
    }

    .developer{
        font-size: 0.8rem;
        margin: 0 0 2rem 0rem;
    }

    h1{
        color: #F5AF31;
        margin-left: 0rem;
        font-size: 1rem;
    }

    .left h3{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 4.5rem;
        font-size: 0.6rem;
        text-align: center;
        
    }

    .left a{
        width: 4.5rem;
        margin-left: 0rem;
    }

    .fab{
        color: #4BC858;
    
    }

    .spanish{
        color: white;
        border: 1px solid white;
        border-radius: 0.0125rem;
        width: 4rem;
        height: 1.3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 0 0 3rem 1.5rem;
        -webkit-box-shadow: 10px 11px 1.5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 1.5px -1px rgba(0,0,0,0.75);
        box-shadow: 10px 11px 1.5px -1px rgba(0,0,0,0.75);
    }

    .spanish p{
        font-size: 0.4rem;
    }

    .spanish h3{
        font-size: 0.5rem;
        
    }

    .spanish a{
        color: white;
    }


    .about h2{
        color: #F5AF31;
        font-size: 1rem;
        z-index: 5;
    }

    .about{
        width: 100%;
        margin: 1rem 0 1rem 0rem;
        display: flex;
        flex-direction: column;
    }

    .about p{
        margin: 0 0 1rem 0;
        font-size: 0.5rem;
    }

    .left2{
        width: 100%;
        justify-content: left;   
        z-index: 100;
    }

    .left2 p{
        margin-top: 0.5rem; 
        text-align: justify;
    }

    .right2{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        margin-left: 0rem;
        margin-top: 1rem;
    }

    .info{
        display: flex;
        text-align: left;
        justify-content: right;
        margin-top: 0.5rem;
        margin-left: 1rem;
        z-index: 1;
    }

    .info p{
        margin-bottom: 0.5rem;
    }

    .column2{
        margin-left: 0.5rem;
    }

    .cvEsp{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5.5rem;
        font-size: 0.5rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }

    .cvEn{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5rem;
        font-size: 0.5rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }

    .right2 a{
        color: white;
        text-decoration: none;
    }

    .shape{
        position: absolute;
        z-index: -110;
        transform: translate(-190%, -90%);
    }

    .shape img{
        width: 6rem;
        height: auto;
        z-index: -300;
        transform: translate(85%, 10%);
    }

    .projectSection{
        width: 100%;
        margin: 1rem;
    }

    .projectSection h2{
        color: #F5AF31;
        font-size: 1rem;  
        margin: 0 0 1rem 0;  
    }

    .project{
        display: flex;
        justify-content: space-evenly;
    }

    .projectSection h3{
        color: white;
        font-size: 0.7rem;
        background-color: #F5AF31;
        margin-top: 2.5rem;
        border-radius: 0.25rem;
    }

    .project img{
        height: 6rem;
        width: 6rem;    
    }

    .content{
        width: 6rem;
        background-image: url(../sentado.png);
        background-size: 100%;
        height: 6rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
    }

    .alto{
        width: 6rem;
        background-image: url(../logo.png);
        background-size: 100%;
        height: 6rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
    }

    .contactSection{
        display: flex;
        flex-direction: column;
    }

    .contactSection h2{
        color: #F5AF31;
        font-size: 1rem;  
        margin: 1rem 0 0.7rem 0;  
    }


    #name{
        border: 0.05rem solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 7rem;
        font-size: 0.6rem;
        text-align: left;
        margin: 0 0rem 0.5rem 0;
    }

    #name::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #email{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 7rem;
        font-size: 0.6rem;
        text-align: left;
        margin: 0 0 0.3rem 0.5rem;
    }

    #email::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #text{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.6rem;
        width: 14.7rem;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    #text::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #send{
        border: 0.05rem solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.6rem;
        width: 3.8rem;
        height: 1.1rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    #send:hover{
        cursor: pointer;
    }

    #contact{
        animation-duration: 3s;
        animation-name: contact;
        animation-iteration-count: infinite;
    }

    .th h1{
        font-size: 1rem;
        margin: 1rem 0 0 0;
    }

    .thanks{
        font-size: 0.6rem;
        margin: 1rem 0 0 0;
    }

    @keyframes contact {
        0%, 31%, 45%, 57%, 65%, 70%, 100%  { 
            opacity: 1;
        }

        42%, 44%, 56%, 58%, 60%, 67%, 80%  { 
            opacity: 0; 
            
        }
    }
}

/*DE 1024 A 1200*/
@media (min-width: 1024px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html{
        color: black;
        background-color: black;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
    }

    #particles-js  {
        height: 100vh; 
        width: 100%;
        position: fixed; /*esto hace q quede fijo en pantalla y se vea de fondo*/
        z-index: -999;
    }

    a{
        text-decoration: none;
    }

    p{
        color: white;
    }

    .container{
        margin: 0 2.5rem 2rem 2.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        z-index: 1;
    }

    .presentacion{
        display: flex;
        width: 100%;
        height: 50vh;
        margin-bottom: 1rem;
    }

    .left{ 
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;   
    }

    .right{
        background-color: #F5AF31;
        width: 40%; 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    .presentacion img{
        height: 50vh;
        width: auto;
        position: absolute;
        z-index: 110;
        transform: translateX(-58%);
    }


    .hello{
        margin-left: 0.5rem;
        font-size: 0.7rem;
    }

    .developer{
        font-size: 0.9rem;
        margin: 0 0 2rem 0.5rem;
    }

    h1{
        color: #F5AF31;
        margin-left: 0.5rem;
        font-size: 1.1rem;
    }

    .left h3{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5rem;
        font-size: 0.6rem;
        text-align: center;
        
    }

    .left a{
        width: 5rem;
        margin-left: 0.5rem;
    }

    .fab{
        color: #4BC858;
    
    }

    .spanish{
        color: white;
        border: 1px solid white;
        border-radius: 0.0125rem;
        width: 5rem;
        height: 1.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 0 0 5rem 1.5rem;
        -webkit-box-shadow: 11px 12px 2px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 11px 12px 2px -1px rgba(0,0,0,0.75);
        box-shadow: 11px 12px 2px -1px rgba(0,0,0,0.75);
    }

    .spanish p{
        font-size: 0.5rem;
    }

    .spanish h3{
        font-size: 0.6rem;
        
    }

    .spanish a{
        color: white;
    }


    .about h2{
        color: #F5AF31;
        font-size: 1.1rem;
    }

    .about{
        width: 100%;
        margin: 2rem 0 1rem 0rem;
        display: flex;
        flex-direction: row;
    }

    .about p{
        margin: 0;
        font-size: 0.5rem;
    }

    .left2{
        width: 50%;
        justify-content: left;   
        z-index: 100;
    }

    .left2 p{
        margin-top: 0.5rem; 
        text-align: justify;
    }

    .right2{
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
        align-items: center;
        margin-left: 0.5rem;
        margin-top: 0;
    }

    .info{
        display: flex;
        text-align: left;
        justify-content: right;
        margin-top: 0.5rem;
        z-index: 1;
    }

    .info p{
        margin-bottom: 0.5rem;
    }

    .column2{
        margin-left: 0.05rem;
    }

    .cvEsp{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5.5rem;
        font-size: 0.6rem;
        text-align: center;
        margin: 5.5rem 0 0 0;
    }

    .cvEn{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5.5rem;
        font-size: 0.6rem;
        text-align: center;
        margin: 2.5rem 0 0 0;
    }

    .right2 a{
        color: white;
        text-decoration: none;
    }

    .shape{
        position: absolute;
        z-index: -110;
        transform: translate(-190%, -10%);
    }

    .shape img{
        width: 6rem;
        height: auto;
        z-index: -300;
        transform: translate(85%, 10%);
    }

    .projectSection{
        width: 100%;
        margin: 1rem;
    }

    .projectSection h2{
        color: #F5AF31;
        font-size: 1.1rem;  
        margin: 1rem 0;  
    }

    .project{
        display: flex;
        justify-content: space-evenly;
    }

    .projectSection h3{
        color: white;
        font-size: 0.8rem;
        background-color: #F5AF31;
        margin-top: 3rem;
        border-radius: 0.25rem;
    }

    .project img{
        height: 7rem;
        width: 7rem;    
    }

    .content{
        width: 7rem;
        background-image: url(../sentado.png);
        background-size: 100%;
        height: 7rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
    }

    .alto{
        width: 7rem;
        background-image: url(../logo.png);
        background-size: 100%;
        height: 7rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
    }

    .contactSection{
        display: flex;
        flex-direction: column;
    }

    .contactSection h2{
        color: #F5AF31;
        font-size: 1.1rem;  
        margin: 2rem 0 1rem 0;  
    }


    #name{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 7.5rem;
        font-size: 0.6rem;
        text-align: left;
        margin: 0 0.5rem 0.5rem 0;
    }

    #name::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #email{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 7.5rem;
        font-size: 0.6rem;
        text-align: left;
        margin: 0 0 0.5rem 0.5rem;
    }

    #email::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #text{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.6rem;
        width: 16.2rem;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    #text::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #send{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.7rem;
        width: 4rem;
        height: 1.2rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    #send:hover{
        cursor: pointer;
    }

    #contact{
        animation-duration: 3s;
        animation-name: contact;
        animation-iteration-count: infinite;
    }

    .th h1{
        font-size: 1.1rem;
        margin: 1rem 0 0 0;
    }

    .thanks{
        font-size: 0.6rem;
        margin: 1rem 0 0 0;
    }

    @keyframes contact {
        0%, 31%, 45%, 57%, 65%, 70%, 100%  { 
            opacity: 1;
        }

        42%, 44%, 56%, 58%, 60%, 67%, 80%  { 
            opacity: 0; 
            
        }
    }
}

/********/
/*MAS DE 1200*/
@media (min-width: 1200px) {
    
    #particles-js  {
        height: 100vh; 
        width: 100%;
        position: fixed; /*esto hace q quede fijo en pantalla y se vea de fondo*/
        z-index: -999;
    }

    .container{
        margin: 0 3.5rem 2rem 3.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        z-index: 1;
    }

    .presentacion{
        display: flex;
        width: 100%;
        height: 55vh;
        margin-bottom: 1rem;
    }

    .left{ 
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;   
    }

    .right{
        background-color: #F5AF31;
        width: 40%; 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55vh;
    }

    .presentacion img{
        height: 55vh;
        width: auto;
        position: absolute;
        z-index: 110;
        transform: translateX(-78%);
    }


    .hello{
        margin-left: 2rem;
        font-size: 0.8rem;
    }

    .developer{
        font-size: 1rem;
        margin: 0 0 1.5rem 2rem;
    }

    h1{
        color: #F5AF31;
        margin-left: 2rem;
        font-size: 1.2rem;
    }

    .left h3{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 5.5rem;
        font-size: 0.7rem;
        text-align: center;
        
    }

    .left a{
        width: 5.5rem;
        margin-left: 2rem;
    }

    .fab{
        color: #4BC858;
    
    }

    .spanish{
        color: white;
        border: 1px solid white;
        border-radius: 0.0125rem;
        width: 6rem;
        height: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 0 0 5rem 3.5rem;
        -webkit-box-shadow: 13px 14px 3px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 13px 14px 3px -1px rgba(0,0,0,0.75);
        box-shadow: 13px 14px 3px -1px rgba(0,0,0,0.75);
    }

    .spanish p{
        font-size: 0.6rem;
    }

    .spanish h3{
        font-size: 0.7rem;
        
    }

    .spanish a{
        color: white;
    }


    .about h2{
        color: #F5AF31;
        font-size: 1.2rem;
    }

    .about{
        width: 100%;
        margin: 2rem 0 1rem 3rem;
        display: flex;
        flex-direction: row;
    }

    .about p{
        margin: 0 0.5rem;
        font-size: 0.6rem;
    }

    .left2{
        width: 45%;
        justify-content: left;   
        z-index: 100;
    }

    .left2 p{
        margin-top: 0.5rem; 
        text-align: justify;
    }

    .right2{
        display: flex;
        flex-direction: column;
        width: 55%;
        text-align: center;
        align-items: center;
        margin-left: 2.5rem;
    }

    .info{
        display: flex;
        
        text-align: left;
        justify-content: right;
        margin-top: 0.5rem;
        z-index: 1;
    }

    .info p{
        margin-bottom: 0.5rem;
    }

    .column2{
        margin-right: 0.5rem;
    }

    .cvEsp{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 6.5rem;
        font-size: 0.7rem;
        text-align: center;
        margin: 8.5rem 0 0 0;
    }

    .cvEn{
        border: 1px solid #F5AF31;
        border-radius: 0.0125rem;
        color: white;
        width: 6rem;
        font-size: 0.7rem;
        text-align: center;
        margin: 5.3rem 0 0 0;
    }

    .right2 a{
        color: white;
        text-decoration: none;
    }

    .shape{
        position: absolute;
        z-index: -110;
        transform: translate(-190%, -10%);
    }

    .shape img{
        width: 9rem;
        height: auto;
        z-index: -300;
        transform: translate(75%, 10%);
    }

    .projectSection{
        width: 100%;
        margin: 1rem;
    }

    .projectSection h2{
        color: #F5AF31;
        font-size: 1.2rem;  
        margin: 1rem 0;  
    }

    .project{
        display: flex;
        justify-content: space-evenly;
    }

    .projectSection h3{
        color: white;
        font-size: 0.8rem;
        background-color: #F5AF31;
        margin-top: 3.5rem;
        border-radius: 0.25rem;
    }

    .project img{
        height: 8rem;
        width: 8rem;    
    }

    .content{
        width: 8rem;
        background-image: url(../sentado.png);
        background-size: 100%;
        height: 8rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
    }

    .alto{
        width: 8rem;
        background-image: url(../logo.png);
        background-size: 100%;
        height: 8rem;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 50%;    
        border: solid 2px #F5AF31;
    }

    .contactSection{
        display: flex;
        flex-direction: column;
    }
    .contactSection h2{
        color: #F5AF31;
        font-size: 1.1rem;  
        margin: 2rem 0 1rem 0;  
    }


    #name{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 7.5rem;
        font-size: 0.6rem;
        text-align: left;
        margin: 0 0.5rem 0.5rem 0;
    }

    #name::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #email{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        width: 7.5rem;
        font-size: 0.6rem;
        text-align: left;
        margin: 0 0 0.5rem 0.5rem;
    }

    #email::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #text{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.6rem;
        width: 16.2rem;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    #text::placeholder{
        color: white;
        padding-left: 0.2rem;
    }

    #send{
        border: 2px solid white;
        border-radius: 0.125rem;
        color: white;
        background-color: #F5AF31;
        font-size: 0.7rem;
        width: 4rem;
        height: 1.2rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    #send:hover{
        cursor: pointer;
    }

    #contact{
        animation-duration: 3s;
        animation-name: contact;
        animation-iteration-count: infinite;
    }

    .th h1{
        font-size: 1.2rem;
        margin: 1rem 0 0 2rem;
    }

    .thanks{
        font-size: 0.6rem;
        margin: 1rem 0 0 2rem;
    }

    @keyframes contact {
        0%, 31%, 45%, 57%, 65%, 70%, 100%  { 
            opacity: 1;
        }

        42%, 44%, 56%, 58%, 60%, 67%, 80%  { 
            opacity: 0; 
            
        }
    }
}

